*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.clear{
	margin: 0;
	padding: 0;
}
.aside{
	height: 130vh;
	background-color: #009999;
}
.content{
	height: 120vh;
	background-color: #00cc00;
}
.footer{
	background-color: #24b300;
	height: 10vh;
	text-align: center;
	padding-top: 30px;
	color: #ffcc00;
}
.gallery-item{
	width: 400px;
	height: 200px;
}
.gallery-item img{
	width: 400px;
	height: 200px;
}
.aside_inner{
	height: 30vh;
	background-color: #009999;
}
.content_inner{
	height: 30vh;
	width: 100%;
	background-color: #00cc00;
}
.line{
	height: 5px;
	background-color: black;
	width: 70%;
	margin: 500px auto 0;
	transition: 3s all ease-in-out;
}
.line:hover{
	width: 15%;
	background-color: violet;
}
.line2{
	height: 5px;
	background-color: black;
	width: 70%;
	margin: 200px auto 50px;
	transition: 3s all ease-in-out;
}
.line2:hover{
	width: 15%;
	background-color: violet;
}
.img{
	padding-top: 20%;
	padding-left: 15%;
	width: 600px;
	height: 600px;
}

.desc{
	color: #000;
	font-family: Georgia;
}
.desc .title{
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
}
.footer_inner{
	padding-top: 20px;
}
.footer_inner .img_inner{
	height: 300px;
	text-align: center;
}
.footer_inner .img_inner img{
	width: 300px;
	height: 300px;
}
.aside_inner a{
	color: yellow;
}
.aside_inner a:hover{
	color: #FF6600;
	letter-spacing: 3px;
}
.aside a{
	color: yellow;
}
.aside a:hover{
	color: #FF6600;
	letter-spacing: 3px;
}
.hidden {
	display: none;
}
